.nume a {text-decoration: none!important;}
.nume {
  padding: 1em 1em;
}
button.meta, a.meta{
  float:left;
  width: 48px;
  padding-bottom: 10px;
  display: inline;
}
.harta {
  font-size: 3em;
  font-weight: 100;
  width: 100%;
  clear: both;
  display: block;
  color: white;
  margin: -10px auto;
}
.servicii {
  font-size: 1.8em;
  font-weight: 100;
  width: 100%;
  clear: both;
  display: block;
  color: white;
  margin: -10px auto;
}
.autorizate {
  font-size: 3em;
  font-weight: 700;
  width: 100%;
  clear: both;
  display: block;
  color: white;
  margin: -10px auto;
}
.filter{
  overflow-y: scroll;
  min-height: 430px;
}
.filter label{
  color: #ffffff!important;
}
.filter button span{
  font-size: 13px!important
}
.filter hr{
  border:solid 1px #5dd3ec!important;
}

hr{
	border: solid 2px #ffcc00;
	width: 256px;
	margin: 15px auto 20px;
}

input.combo::placeholder {
  color: #ffffff!important;
  font-size: 16px;
}
.combo div{
  color:#ffffff!important;
  font-size: 16px!important;
}
.combo span{
  display: none!important;
}
.combo hr{
  display: none;
}
