#footer {
  text-align: left;
  position: relative;
  overflow: hidden;
  bottom: 0;
  right: 0;
  z-index: 1;
  padding: 0 10vw;
  background-color: #f0f0f0;
  border-top: 1px solid rgba(0,0,0,.05);
}


#footer .logo_minister{ float: left; }
#footer .social-media a {
  color: #666;
  margin: 0 10px 0 0;
  text-align: center;
}
#footer .social-media {
  float: right;
  padding: 14px 30px 0;
}
.social-media a:hover i { color: #7db9e8; }

@media (max-width: 767px) {
  #footer .row { margin-left: 0; margin-right: 0; }
  #footer p { text-align: center; }
  #footer .social-media { float: none; }
  .social-media a { padding: 0 10px; }
}
