body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
	background: #f5f5f5;
  min-width: 960px;
}
input {
  background-color: transparent;
}
h2 {
  font-weight: 100;
  width: 100%;
  font-size: 30px;
  color: #37b8d4;
  margin-top: 40px;
}
h3 {
  font-weight: 100;
  color: #37b8d4;
  margin-top: 30px;
  margin-bottom: 5px;
}
p{
  line-height: 1.4em;
  color: #666;
}
a {
  border-bottom: solid 3px #ffcc00;
  text-decoration: none;
  color: #555;
}
a:hover{
  color: #37b8d4;
  border-bottom: solid 3px #37b8d4;
}
.paper-docs {
	margin-left: -20px;
}
.paper-docs a, .footer a {
	border-bottom: 0 !important;
}
.paper-docs div {
	vertical-align: top;
}
.paper-docs p {
	margin-top: 0;
}
.paper-docs h4{
	font-size: 1.25em;
	color: #37b8d4;
	margin: 0;
}
.paper-docs ul{
	color: #666;
	text-align: left;
	padding-left: 25px;
}
.paper-docs li{
	margin-bottom: .5em;
	list-style: none;
}
.paper-docs li:before{
  background-color: #37b8d4;
  content: "";
  line-height: 1em;
  width: .5em;
  height: .5em;
  float: left;
  margin: .25em .5em 0 -1em;
  border-radius: 50%;
}
.paper-docs hr{
	border: solid 2px #ffcc00;
	width: 20px;
	margin: 15px auto 20px;
}
.paper-info p{
	margin-top: 15px;
	text-align: left;
}
.paper-info div{
	width: 45% !important;
	min-height: 450px;
}
.paper-faq{
	margin-right: 20px;
}
.faq-card{
	margin-bottom: 20px;
}
.faq-title>div>span{
	color: #37b8d4 !important;
	font-size: 1.15em !important;
}
.faq-content{
	font-size: 1em !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	color: #666;
}
.faq-content p{
	margin-top: 0;
}
@media screen and (max-width: 480px) {
	.paper-info div{
		width: 94% !important;
	}
	.footer img{
		height: 40px !important;
	}
}
